<!DOCTYPE html>

{% extends 'eyetracking/base.html' %}

{% block title %}About Us{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>About Us</h1>
        <br />
        <p style="font-size: large">We are the eyeTracking team and we have developed a camera that will detect your eyes while driving and alert <br />
           the driver if his/her pupil is not detected for a short amount of time or if gazing away <br />
           from the road for too long. </p>
       <h1>How Are We Different?</h1>
       <p style="font-size: large">We provide detailed analytics that are tracked through the eyeTracker that records speed, location, and where <br />
          you are looking. These analytics can be viewed on our website or on smartphone app and can also be compared <br />
          to other drivers. These analytics are feedback for the individual driver and/or business <br />
          to improve for the future to create more safe driving habits.</p>
    </div>
{% endblock %}
