<!DOCTYPE html>

{% extends 'eyetracking/base.html' %}

{% block title %}Index{% endblock %}

{% block body_block %}
    <div class = "page-header">
        {% if user.is_authenticated %}
            <h1>Welcome to the Eyetracking Project! {{ user.username }}</h1>
        {% else %}
            <h1>Welcome to the Eyetracking Project!</h1>
        {% endif %}
        <br />
        <p style="font-size: xx-large">Hello!</p>
        <p style="font-size: large">Welcome to the eyeTracking project. The eyeTracker is designed to track your eyes while
        you are driving to improve driving habits. <br />
        Not only will the eyeTracker alert the driver when
        not detecting the pupils, but the eyeTracker also provides detailed analytics for the driver <br />
        or company to view their statistics and to compare with others around the world. </p>
        <p style="font-size: xx-large">Getting Started:</p>
        <p style="font-size: large"> The eyeTracker uses a Raspberry Pi which is a small computer that has a camera attached <br />
        to keep track of the eyes so to get started using the Raspberry Pi, just follow these simple steps:</p>
        <ol style="font-size: large">
            <li>Place the eyeTracker at the front dash of your car where the eyes can be easily seen with the attached camera.</li>
            <li>Download the eyeTracker app on your smartphone and connect to the eyeTracker via Bluetooth. </li>
            <li>All that is left is to make an account on the app and you are ready to go! Stay safe out there eyeTrackers! </li>
        </ol>
    </div>

{% endblock %}
