<!DOCTYPE html>
<html>
    <head>
        <title>Eyetracking Registration</title>
    </head>
    <body>
        <h1>Register at Eyetracking</h1>

        {% if registered == True %}
        Eyetracking says: <strong>Thank you for registering!</strong>
        <br /><a href="/">Return to homepage</a><br />
        {% else %}
        Eyetracking says: <strong>Register Here!</strong>

        <form id="user_form" method="post" action="/register/"
            "enctype=multipart/form-data">

            {% csrf_token %}

            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    </body>
</html>
