<!DOCTYPE html>

{% extends 'eyetracking/base.html' %}

{% block title %}{{ user.username }}{% endblock %}

{% block head_block %}
    {% load chartit %}
    {{ charts|load_charts:"container,speed"}}
{% endblock %}

{% block body_block %}
    <h1>Welcome to your page {{ user.username }}!</h1>
    <p>First Name: {{ user.first_name }} </p>
    <p>Last Name: {{ user.last_name }} </p>
    <p>Email: {{ user.email }} </p>
    <a href="{% url 'index' %}">Home</a><br />
    <a href="{% url 'edituser' %}">Edit Information</a>
    <br /><br />
    <table class = "sortable, table">
        <tr>
            <th>User</th>
            <th>Created Date</th>
            <th>Location</th>
            <th>Speed</th>
            <th>Gaze</th>
            <th>Incident</th>
        </tr>
        {% for gathereddata in data %}
            <tr>
                <td>{{ gathereddata.user }}</td>
                <td>{{ gathereddata.created_date }} </td>
                <td> {{ gathereddata.location }}</td>
                <td> {{ gathereddata.speed }}</td>
                <td>{{ gathereddata.gaze }}</td>
                <td>{{ gathereddata.incident }}</td>
            </tr>
        {% endfor %}
    </table><br />
    <div id="container">Graph</div>
    <br />
    <div id="speed">Graph</div>
{% endblock %}
