<!DOCTYPE html>

{% extends 'eyetracking/base.html' %}

{% block title %}{{ user.username }}{% endblock %}

{% block body_block %}
    <h1>Welcome to your page {{ user.username }}!</h1>
    <p>First Name: {{ user.first_name }} </p>
    <p>Last Name: {{ user.last_name }} </p>
    <p>Email: {{ user.email }} </p>
    <a href="{% url 'index' %}">Home</a><br />
    <a href="{% url 'edituser' %}">Edit Information</a>
    <br /><br />
    <table style = "width: 100%" border = "1px solid black">
        <tr>
            <th>User</th>
            <th>Created Date</th>
            <th>Location</th>
            <th>Speed</th>
            <th>Gaze</th>
            <th>Incident</th>
        </tr>
        {% for gathereddata in data %}
            <tr>
                <th>{{ gathereddata.user }}</th>
                <th>{{ gathereddata.created_date }} </th>
                <th> {{ gathereddata.location }}</th>
                <th> {{ gathereddata.speed }}</th>
                <th>{{ gathereddata.gaze }}</th>
                <th>{{ gathereddata.incident }}</th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
